{{#youtube}}
<div class="youtube">
	<article class="youtube__featured js-animate--in">
		<div class="youtube__video">
			<button class="youtube__video-poster" type="button" name="video play button">
				<img src="https://img.youtube.com/vi/{{youtubeId}}/maxresdefault.jpg">
			</button>
			<div class="youtube__iframe-wrapper">
				<iframe title="{{title}}" alt="{{alt}}" id="{{iframeId}}" class="embed-responsive-item" src="https://www.youtube.com/embed/{{youtubeId}}?enablejsapi=1&amp;showinfo=0&amp;rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" tabindex="-1">YouTube embedded video: https://www.youtube-nocookie.com/embed/{{youtubeId}}</iframe>
			</div>
		</div>
	</article>
</div>
{{/youtube}}