{{#carousel}}
<div id="{{id}}" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		{{#carouselIndicatorList}}
		<li data-target="#{{id}}" data-slide-to="{{dataSlideTo}}"{{#active}} class="active"{{/active}}></li>
		{{/carouselIndicatorList}}
	</ol>
	<div class="carousel-inner">
		{{#carouselItem}}
		<div class="carousel-item{{#active}} active{{/active}}">
			<img class="d-block w-100" src="{{imgSrc}}" alt="{{imgAlt}}">
		</div>
		{{/carouselItem}}
	</div>
	{{#arrow}}
	<a class="carousel-control-{{direction}}" href="#{{id}}" role="button" data-slide="{{direction}}">
		<span class="carousel-control-{{direction}}-icon" aria-hidden="true" aria-label="{{ariaLabel}}"></span>
	</a>
	{{/arrow}}
</div>
{{/carousel}}