{{#portfolio}}
<div class="portfolio">
	<div class="container">
		{{#title}}
		<div class="portfolio__title">
			{{{.}}}
		</div>
		{{/title}}
		{{>molecules-portfolio-filters}}
	</div>
</div>
{{/portfolio}}