{{#portfolioFilters}}

<div class="portfolio-filters">
  <section id="controls">
    <ul>
      <li class="filter filter-all active">All</li>
      <li class="filter filter-landscape">Landscape</li>
      <li class="filter filter-urban">Urban</li>
      <li class="filter filter-portrait">Portrait</li>
    </ul>
  </section>
  <div class="grid-wrapper">
    <div class="image landscape landscape-1 all"></div>
    <div class="image urban urban-1 all"></div>
    <div class="image urban urban-2 all"></div>
    <div class="image portrait portrait-1 all"></div>
    <div class="image urban urban-3 all"></div>
    <div class="image portrait portrait-2 all"></div>
    <div class="image urban urban-4 all"></div>
    <div class="image landscape landscape-2 all"></div>
    <div class="image portrait portrait-3 all"></div>
    <div class="image landscape landscape-3 all"></div>
    <div class="image landscape landscape-4 all"></div>
    <div class="image portrait portrait-4 all"></div>
  </div>
</div>
{{/portfolioFilters}}