$block: 'portfolio-single';

.#{$block} {
	$icon-size: rem-calc(10);
	padding: rem-calc(15) 0 rem-calc(30);

	&__arrow-prev {
		&:before {
			@include icon-base;
			@include icon('arrow', $icon-size, $color-black);
			margin-right: rem-calc(5);
			transform: rotate(180deg);
			transition: all .3s;
			content: '';
		}
	}

	&__arrow-next {
		&:after {
			@include icon-base;
			@include icon('arrow', $icon-size, $color-black);
			margin-left: rem-calc(5);
			transition: all .3s;
			content: '';
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;

		a {
			color: $color-black;
			font-size: fs(normal);
			font-weight: map-get($font-weights-primary, black); // sass-lint:disable-line no-color-keywords no-color-literals

			&:last-child { // sass-lint:disable-line nesting-depth
				text-align: right;
			}

			// sass-lint:disable nesting-depth
			&:hover,
			&:focus,
			&:active {
				color: $color-gray;
				text-decoration: none;

				.#{$block}__arrow-prev {
					&:before {
						@include icon('arrow', $icon-size, $color-gray);
					}
				}

				.#{$block}__arrow-next {
					&:after {
						@include icon('arrow', $icon-size, $color-gray);
					}
				}
			}
			// sass-lint:enable nesting-depth
		}

		span {
			display: block;
			font-size: fs(small);
			font-weight: map-get($font-weights-primary, normal);
		}
	}

	&__content {
		margin: rem-calc(30) 0;
		text-align: center;

		img {
			width: 100%;
		}
	}

	&__title {
		font-family: $font-family-primary;
		font-size: fs(large);
		font-weight: map-get($font-weights-primary, black); // sass-lint:disable-line no-color-keywords no-color-literals
	}

	&__top {
		text-align: center;
	}

	&__type {
		text-transform: uppercase;
	}
}
