$block: 'portfolio-filters';

.#{$block} {
	ul {
		margin-bottom: rem-calc(40);
		text-align: left;
	}

	&__filter {
		margin-right: rem-calc(40);
	}

	&__image {
		position: relative;

		span {
			position: absolute;
			top: rem-calc(10);
			left: rem-calc(15);
			display: none;
			color: $color-white;
			z-index: 1;
		}

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			transition: all .3s;
			background: $color-black-transparent;
			content: '';
			opacity: 0;
		}

		&:hover,
		&:active,
		&:focus {
			&:after {
				opacity: 1;
			}

			span {
				display: block;
			}
		}
	}

	.card {
		margin-bottom: rem-calc(20);
	}

	.card-columns {
		@include media-breakpoint-only(md) {
			column-count: 2;
		}
	}
}
