$block: 'portfolio-filters';

.#{$block} {
	ul {
		@include no-custom-bullets;
		padding: 0;
	}

	&__filter {
		display: inline-block;
		margin-right: rem-calc(20);
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}

	&__image {
		margin-bottom: rem-calc(15);
		border: 0;
	}

	.hide {
		display: none;
		opacity: 0;
	}
}
