$block: 'footer';

.#{$block} {
	padding: rem-calc(30) 0;

	&__license {
		order: 1;
		text-align: left;
	}

	&__social {
		order: 2;
		text-align: right;

		a {
			margin-right: rem-calc(20);
		}
	}
}
