{{#checkboxRadio}}
	<input type="{{#checkbox}}checkbox{{/checkbox}}{{#radio}}radio{{/radio}}" name="{{name}}" id="{{id}}"{{#disabled}} disabled{{/disabled}}{{#checked}} checked{{/checked}} />
	<label for="{{id}}">{{label}}</label>
{{/checkboxRadio}}
