{{! TODO: Update this with the font weights that are actually in use }}
<h1>Primary Font</h1>
<ul class="sg-fonts--primary">
  {{!
  <li class="sg-fonts--light">Light</li>
  <li class="sg-fonts--light"><em>Light Italic</em></li>
  }}

  <li>Normal</li>
  <li><em>Normal Italic</em></li>

  {{!
  <li class="sg-fonts--medium">Medium</li>
  <li class="sg-fonts--medium"><em>Medium Italic</em></li>
  }}

  <li><strong>Bold</strong></li>
  <li><strong><em>Bold Italic</em></strong></li>

  <li class="sg-fonts--black">Black</li>
  <li class="sg-fonts--black"><em>Black Italic</em></li>
</ul>

<h1>Secondary Font</h1>
<ul class="sg-fonts--secondary">
  {{!
  <li class="sg-fonts--light">Light</li>
  <li class="sg-fonts--light"><em>Light Italic</em></li>
  }}

  <li>Normal</li>
  <li><em>Normal Italic</em></li>

  {{!
  <li class="sg-fonts--medium">Medium</li>
  <li class="sg-fonts--medium"><em>Medium Italic</em></li>
  }}

  <li><strong>Bold</strong></li>
  <li><strong><em>Bold Italic</em></strong></li>

  {{!
  <li class="sg-fonts--black">Black</li>
  <li class="sg-fonts--black"><em>Black Italic</em></li>
  }}
</ul>