{{! link is a keyword - http://patternlab.io/docs/data-link-variable.html }}{{#linktag}}
<a href="{{#url}}{{url}}{{/url}}{{^url}}#{{/url}}" {{#attr}} {{name}}="{{val}}" {{/attr}}>{{text}}</a>{{/linktag}}